@model SMSetViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        
        <h3>
            <div class="tdVertMid">
                <div onclick="javascript:history.back()" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></div></div>
            <span class="tdVertMid tdTitle">@Model.Title</span>
        </h3>

        @foreach (var verse in Model.Verses)
        {
            <p class=" 
            @if(Model.Taken.Contains(@verse.id)){
                @Html.Raw("taken")
            }" style="padding:5px;">
                @verse.verse_number @Html.Raw("&nbsp;") @verse.verse_text
            </p>
        }

        @if(@Model.Taken.Count == 0){
            <button class="btn btn-primary btn-block" 
                onclick="selectSMSet(@Model.Id)" style="margin:15px 0px;">Select</button>
        }

    </div>
</div>