@model SMSetViewModel

<h3>@Model.Title</h3>

<a href="javascript:history.back()">&#8592; Back</a>

@if(@Model.Taken.Count == 0){
    <button onclick="selectSMSet(@Model.Id)">Select</button>
}
<br><br>

@foreach (var verse in Model.Verses)
{
    <div class="verse
    @if(Model.Taken.Contains(@verse.id)){
        @Html.Raw("taken")
    }">
        @verse.verse_number @Html.Raw("&nbsp;&nbsp;") @verse.verse_text
    </div>
}