@model List<Verse>
@{
    var taken = ViewData["Taken"] as List<int>; 
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <h3>
            <div class="tdVertMid">
                <div onclick="javascript:history.back()" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></div></div>
            <span id="chapter_title" class="tdVertMid tdTitle">@ViewData["Chapter"]</span>
        </h3>

        <div class="Cols1or2 verses">
            <button class="btn-select btn btn-primary btn-block" 
                onclick="createPassage()" style="margin-bottom:5px"></button>

            @foreach (var verse in Model)
            {
                <div class="tile btn btn-default btn-block 
                @if(taken.Contains(@verse.id)){
                    @Html.Raw("taken")
                }
                " onclick="selectVerse(this, @verse.id)" style="text-align:left;">
                    @verse.verse_number @Html.Raw("&nbsp;") 
                    @verse.verse_text
                </div>
            }
            <button class="btn-select btn btn-primary btn-block" onclick="createPassage()"></button>
        </div>
    </div>
</div>