@model Topic
@{
    var passages = ViewData["Passages"] as List<Passage>;
}

<br>
<a asp-action="List">&#8592; Back</a>
<h3>@Model.Title</h3>
<br>

@if(passages.Count == 0){
    <i>No assigned passages</i><br>
}
@foreach(var passage in passages){
    <a asp-controller="Passages" asp-action="Detail" asp-route-id="@passage.ID">@passage.Title</a><br>
}

<br><br>

<div class="topic">
<form asp-action="Edit" asp-route-id="@Model.ID" method="get">
    <button  type="submit">Edit</button>
</form>
&nbsp;
<form asp-action="Delete" asp-route-id="@Model.ID" method="post"
        onsubmit="return confirm('Do you want to delete this topic?');">
    <button type="submit">Delete</button>
</form> 
</div>