@model Passage

<div class="row verses">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        
        <h3>
            <div class="tdVertMid">
                <a asp-action="List" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></a></div>
            <span class="tdVertMid tdTitle">@Model.Title</span>
        </h3>


        @foreach(var verse in Model.Verses){
            <p>@verse.VerseNumber @Html.Raw("&ensp;") @verse.VerseText</p> 
        }

        <br>
        @if(Model.DatePassed != DateTime.Today || Model.Level == 0){
            <form asp-action="Passed" asp-route-id="@Model.ID" method="post">
                <button type="submit" class="btn btn-success pull-right">Passed</button>
            </form> 
        }

    </div>
</div>