@model Passage
@{
    var topics = ViewData["AvailableTopics"] as List<Topic>;
    var ptopics = ViewData["PassageTopics"] as List<Topic>;
}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 verses">
    
        <h3>
            <div class="tdVertMid">
                <a href="javascript:history.back()" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></a></div>
            <span class="tdVertMid tdTitle">@Model.Title</span>
        </h3>

        @foreach(var verse in Model.Verses){
            <p>@verse.VerseNumber @Html.Raw("&nbsp;&nbsp;") @verse.VerseText</p>
        }

        @if(ptopics.Count > 0){
            <br><i>Topic(s):</i><br>
        }
        @foreach(var topic in ptopics){
            <h4>@topic.Title &emsp;
                @Html.ActionLink(
                        "x",
                        "RemovePassageTopic",
                        "Passages",
                        new {
                            id = @Model.ID,
                            topicid = @topic.ID
                        }
                    )</h4>
        }

        <br>
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false" style="width:100%;">
                Add Topic &emsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            @foreach(var topic in topics){
                <li style="white-space:normal; overflow:visible; width:100%;">
                    @Html.ActionLink(
                        @topic.Title,
                        "AddTopic",
                        "Passages",
                        new {
                            id = @Model.ID,
                            topicid = @topic.ID
                        }
                    )
                </li>
            }
            </ul>
        </div>

        <form asp-action="Delete" asp-route-id="@Model.ID" method="post" class="pull-right"
                onsubmit="return confirm('Do you want to delete this passage?');">
            <button class="btn btn-danger" type="submit">Delete Passage</button>
        </form> 
        
        <!--@if(User.IsInRole("Privileged")){
            <form asp-action="SetLevel" asp-route-id="@Model.ID" method="post" style="margin-top:100px;">
                <label for="level" class="sr-only">Set Level</label>
                <input type="number" min="0" step="1" value="@Model.Level" name="level" 
                        style="width:100px; display:inline;" class="form-control" />
                <button type="submit" class="btn btn-default">Set Level</button>
            </form>     
        }-->
    </div>
</div>

<script>
    
</script>
