@model Passage
@{
    var topics = ViewData["Topics"] as List<Topic>;
}
<br>
<a asp-action="List">&#8592; Back</a><br>

<h3>@Model.Title</h3>

@foreach(var verse in Model.Verses){
    <div class="verse">
        @verse.VerseNumber @Html.Raw("&nbsp;&nbsp;") @verse.VerseText <br>
    </div> 
}
<br><br>

@foreach(var t in topics){
    @t.Title <br>
}

<br>
<form asp-action="Delete" asp-route-id="@Model.ID" method="post"
        onsubmit="return confirm('Do you want to delete this passage?');">
    <button type="submit">Delete</button>
</form> 