@model Passage
<br>
<a asp-action="List">&#8592; Back</a><br>

<h3>@Model.Title</h3>

@foreach(var verse in Model.Verses){
    <div class="verse">
        @verse.VerseNumber @Html.Raw("&nbsp;&nbsp;") @verse.VerseText <br>
    </div> 
}

<br><br>
<form asp-action="Delete" asp-route-id="@Model.ID" method="post">
    <button type="submit">Delete</button>
</form> 