@model Passage
@{
    var topics = ViewData["AllTopics"] as List<Topic>;
    var ptopics = ViewData["PassageTopics"] as List<Topic>;
}
<br>
<a href="javascript:history.back()">&#8592; Back</a><br>

<h3>@Model.Title</h3>

@foreach(var verse in Model.Verses){
    <div class="verse">
        @verse.VerseNumber @Html.Raw("&nbsp;&nbsp;") @verse.VerseText <br>
    </div> 
}
<br><br>

@if(ptopics.Count == 1){
    <i>Topic:</i>
} else if(ptopics.Count > 1){
    <i>Topics:</i>
}<br>
@foreach(var topic in ptopics){
    <h5>@topic.Title &emsp;
        @Html.ActionLink(
                "x",
                "RemovePassageTopic",
                "Passages",
                new {
                    id = @Model.ID,
                    topicid = @topic.ID
                }
            )</h5>
}

<br>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Add Topic &emsp;<span class="caret"></span></button>
    <ul class="dropdown-menu">
    @foreach(var topic in topics){
        <li>
            @Html.ActionLink(
                @topic.Title,
                "AddTopic",
                "Passages",
                new {
                    id = @Model.ID,
                    topicid = @topic.ID
                }
            )
        </li>
    }
    </ul>
</div>

<br><br>
<form asp-action="Delete" asp-route-id="@Model.ID" method="post"
        onsubmit="return confirm('Do you want to delete this passage?');">
    <button class="btn" type="submit">Delete Passage</button>
</form> 